<header>
    <div class="container">
        <div>              
            <a href="/views/">
                <img src="/images/logo.gif" alt="Goassign.me logo" >
            </a>
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="/views/users/" class="btn-style">Users</a></li>
                    <li><a href="/views/usernotes/" class="btn-style">Usernotes</a></li>
                    <li><a href="/views/notes/" class="btn-style-selected">Notes</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>