<%- include('../../partials/header') %>
    <main>
        <div class="main-divider">
            <section> 
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Successfully added user
                </div>          
                <h2>Add user</h2>
                <form class="form" novalidate onsubmit="return validateForm();">
                    <label for="username">Username: <span class="symbol-required">*</span></label>
                    <input type="text" name="username" id="username">
                    <span id="errorUsername" class="errors-text"></span>  
                    
                    <label for="email">Email: <span class="symbol-required">*</span></label>
                    <input type="email" id="email">
                    <span id="errorEmail" class="errors-text"></span>  
                    
                    <label for="password">Password: <span class="symbol-required">*</span></label>
                    <input type="password" id="password">
                    <span id="errorPassword" class="errors-text"></span> 

                    <label for="firstname">Firstname: <span class="symbol-required">*</span></label>
                    <input type="text" name="firstname" id="firstname">
                    <span id="errorFirstname" class="errors-text"></span>

                    <label for="lastname">Lastname: <span class="symbol-required">*</span></label>
                    <input type="text" id="lastname">
                    <span id="errorLastname" class="errors-text"></span>  

                    <p id="errorSummary" class="errors-text hidden-error">Form contains errors</p>

                    <div class="form-buttons">
                        <input type="submit" value="Add" class="form-button-submit">
                        <a href="/users" class="form-button-cancel">Decline</a>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <script type="application/javascript" src="/js/validationFormUsers.js"></script>
<%- include('../../partials/footer') %>
