<%- include('../../partials/header') %>
    <main>
        <div class="main-divider">
            <section>
                <h2>Details of xxx user</h2>
                <form class="form">

                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" value="this" disabled>
                    
                    <label for="email">Email:</label>
                    <input type="text" value="this email" id="email" disabled>

                    <label for="password">Password:</label>
                    <input type="password" placeholder="********" id="password" disabled>

                    <label for="firstname">Firstname:</label>
                    <input type="text" name="firstname" id="firstname" value="this firstname" disabled>

                    <label for="lastname">Lastname:</label>
                    <input type="text" id="lastname" value="this lastname" disabled>

                    <p id="errorSummary" class="errors-text hidden-error">Form contains errors</p>
                    
                    <div class="form-buttons">
                        <a href="edit" class="form-button-submit">Edit</a>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <main>
        <div class="main-divider">
            <section>
                <h2>Usernotes</h2>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th rowspan="2">Note title</th>
                            <th rowspan="2">Implementation</th>
                            <th colspan="2">Permissions</th>
                        </tr>
                        <tr>
                            <th>Write</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>this is title of my note and its super fun to work with and it's not even the longest title possible!</td>
                            <td class="table-date">
                                <input type="text" name="date" id="date" value="dd.mm.rrrr" disabled>
                            </td>
                            <td class="table-checkbox">
                                <input type="checkbox" id="write" name="canWrite" value="permission" checked disabled>
                            </td>
                            <td class="table-checkbox">
                                <input type="checkbox" id="delete" name="canDelete" value="permission" disabled>
                            </td>
                        </tr> 
                    </tbody>
                </table>
                <div class="form-buttons">
                    <a href="/users" class="form-button-cancel">Back</a>
                </div>
            </section>
        </div>
    </main>
<%- include('../../partials/footer') %>
