<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/views/">
            <img src="/images/logo.gif" alt="funny GIF" href="/views/" width="100%">
        </a>
        <nav>
            <ul>
                <li><a href="/views/users/" class="btn-style">Users</a></li>
                <li><a href="/views/usernotes/" class="btn-style">Usernotes</a></li>
                <li><a href="/views/notes/" class="btn-style">Notes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Get complete clarity with the only PM platform built for <span style="color: #F72585">client work</span></h1>
        <h2>Everything you need to menage projects, teams and notes in one place</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis tempora maxime, harum numquam enim esse aliquam tempore quia, sed perspiciatis! Provident illum voluptate excepturi earum! Iusto molestias ea vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis tempora maxime, harum numquam enim esse aliquam tempore quia, sed perspiciatis! Provident illum voluptate excepturi earum! Iusto molestias ea vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis tempora maxime, harum numquam enim esse aliquam tempore quia, sed perspiciatis! Provident illum voluptate excepturi earum! Iusto molestias ea vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis tempora maxime, harum numquam enim esse aliquam tempore quia, sed perspiciatis! Provident illum voluptate excepturi earum! Iusto molestias ea vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis tempora maxime, harum numquam enim esse aliquam tempore quia, sed perspiciatis! Provident illum voluptate excepturi earum! Iusto molestias ea vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis tempora maxime, harum numquam enim esse aliquam tempore quia, sed perspiciatis! Provident illum voluptate excepturi earum! Iusto molestias ea vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis tempora maxime, harum numquam enim esse aliquam tempore quia, sed perspiciatis! Provident illum voluptate excepturi earum! Iusto molestias ea vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis tempora maxime, harum numquam enim esse aliquam tempore quia, sed perspiciatis! Provident illum voluptate excepturi earum! Iusto molestias ea vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis tempora maxime, harum numquam enim esse aliquam tempore quia, sed perspiciatis! Provident illum voluptate excepturi earum! Iusto molestias ea vitae?</p>
    </main>
    <footer>
        <div>
            <span>©goassign.me 2022</span>
            <span>Terms & Privacy</span>
        </div>
        <span>David Wrobel - iamxdave</span> 
    </footer>
</body>
</html>