<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>   
    <header>
        <div class="container">
            <div>              
                <a href="/views/">
                    <img src="/images/logo.gif" alt="Goassign.me logo" >
                </a>
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a href="/views/users/" class="btn-style">Users</a></li>
                        <li><a href="/views/usernotes/" class="btn-style">Usernotes</a></li>
                        <li><a href="/views/notes/" class="btn-style"">Notes</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="main-divider">
            <section>     
                <h1 class="heavy-w">Get complete clarity with the only PM platform built for <span style="color: #F72585">client work</span></h1>
                <h3 class="medium-w">Everything you need to manage projects, teams and notes in one place</h3>
            </section>
        </div>
    </main>
    <main>
        <div class="main-divider">
            <section>
                <h2 class="medium-w">Manage multiple complex projects with ease</h2>
                <article>
                    <div>
                        <img src="/images/write-note.jpg" alt="Write note image">
                    </div>
                    <div class="text-right">
                        <h3 class="medium-w">Instantly know what's on and off track</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae necessitatibus modi atque dicta odio quis ipsam voluptatibus blanditiis fuga eum nemo, dolores qui, eveniet doloremque cupiditate obcaecati aut minus? Sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, amet totam? Incidunt vel recusandae saepe tempora possimus expedita optio quibusdam qui sapiente tempore. Temporibus libero eaque repellendus tempora ipsum. Neque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, ex consequatur rem voluptatibus, quas voluptas nobis, harum aspernatur nesciunt odio accusantium officiis inventore quo impedit? Itaque, sequi neque. Cum, tenetur.</p>
                    </div>
                </article>
            </section>
        </div>
    </main>
    <main>
        <div class="main-divider">
            <section>      
                <h2 class="medium-w">Simple to use, <span style="color: #F72585">powerful</span> when you need it</h2>
                <article>
                    <div class="text-left">
                        <h3 class="medium-w">All the project management essentials you need </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam labore suscipit totam ratione minus, incidunt consectetur laborum? Facilis quam officia earum in consequatur doloribus, nemo ea inventore nihil, necessitatibus et!</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae necessitatibus modi atque dicta odio quis ipsam voluptatibus blanditiis fuga eum nemo, dolores qui, eveniet doloremque cupiditate obcaecati aut minus? Sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, amet totam? Incidunt vel recusandae saepe tempora possimus expedita optio quibusdam qui sapiente tempore. Temporibus libero eaque repellendus tempora ipsum. Neque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, ex consequatur rem voluptatibus, quas voluptas nobis, harum aspernatur nesciunt odio accusantium officiis inventore quo impedit? Itaque, sequi neque. Cum, tenetur.</p>
                    </div>
                    <div>
                        <img src="/images/draw-note.jpg" alt="Draw note image">
                    </div>
                </article>
            </section>
        </div>
    </main>
    <main>
        <div class="main-divider">
            <section>
                <h2 class="light-w text-center">Just try it out! You’ll fall in love</h2>
                <h3 class="light-w text-center">Try <span style="color: #F72585">goassign</span> for free. No credit card needed. No catches.</h3>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="info">
                <span>©goassign.me 2022</span>
                <a>Terms & Privacy</a>
            </div>
            <div class="info">
                <span>David Wróbel - iamxdave</span>
                <div>
                    <a href="https://www.github.com/iamxdave">
                        <img src="/images/icons/github.svg" alt="Github link">
                    </a>
                    <a href="https://www.linkedin.com/in/iamxdave">
                        <img src="/images/icons/linkedin.svg" alt="Linkedin link">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>