html {
    background-color: #4CC9F0;
    color: #1e1d3a;
    font-family: "Open Sans",Arial,sans-serif;
}

body {
    min-width: 360px;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg, #B5179E, #480CA8 40%, #4CC9F0 80%);
    margin: 0;
}

body, .main-divider, footer, section, article, .container-footer, .container-footer .info {
    display: flex;
}

body, .main-divider, footer {
    justify-content: center;
}

.container-footer {
    justify-content: space-between;
}
header, .main-divider, footer {
    background-color: white;
}

header, footer {
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: #1E1d3A;
}

header {
    display: grid;
    grid-template-columns: 1.5fr 7fr 1.5fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}
.container-header {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.container-header, .container-footer .info {
    align-items: center;
}

.main-divider, .container-footer {
    width: 70vw;
}

.main-divider {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

section {
    flex-direction: column;
}

article {
    flex-direction: row;
    justify-content: space-between;
    line-height: 2;
    text-align: left;
}

section, article {
    text-align: justify;
    text-justify: inter-word;
}
section img {
    max-width: 30vw;
}

article div {
    padding: 0 2rem;
}

article h3 {
    margin-top: 0;
}

.container-header .langs {
    margin: 0rem;
}

.container-footer div.info{
    display: flex;
    
}

.container-footer div.info div{
    margin: 0rem 2rem;
}

.text-center {
    text-align: center;
}

section {
    width: 65vw;
    margin: 1rem 2rem 3rem;
}

footer {
    height: 8vh;
}

footer img {
    width: 32px;
    height: 32px;
}

header img {
    max-width: 180px;
    min-width: 180px;   
}

nav {
    background: transparent;
}

.container-header .langs ul,
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.container-header .langs ul li a,
nav ul li a {
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
}
.container-header .user div p{
    margin: 0;
}
.container-header .user a {
    text-decoration: none;
}
.container-header .user .span-hello {
    font-style: italic;
}
main {
    display: flex;
    flex: 1;
    background-color: transparent;
    flex-direction: column;
}

.main-divider {
    margin: 1rem 0rem;
    width: 100%;
    height: 100%;
    background-color: white;
}

footer {
    text-align: center;
    display: flex;
    justify-items: flex-start;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
}


.heavy-w {
    font-weight: 800;
}

.medium-w {
    font-weight: 600;
}

.light-w {
    font-weight: 400;
}

a, a:hover, button, button:hover, input, input:hover {
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.table-list {
    border-collapse: collapse;
    color: #FCFAF6;
    width: 100%;
    margin-bottom: 2rem;
}

.table-list, .table-list th, .table-list td {
    border: 1px solid white;
    border-radius: 5px;
}

.table-list th, .table-list td {
    padding: 1rem 0.5rem;
}

.table-list th, .table-list tbody tr:nth-child(odd) {
    background-color: #560BAD;
}

.table-list th, .table-list tbody tr:nth-child(even) {
    background-color: #3A0CA3;
}

.table-list td.table-checkbox input,
.table-list td.table-date input {
    background: transparent;
    border: none;
    color: white;
    display: block;
    margin: auto;
    width: 90px;
    text-align: center;
}

.table-list td.table-checkbox input {
    width: 20px;
    height: 20px;
}

.list-actions {
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0;
    min-width: 370px;
}

.list-actions li {
    display: inline-block;
}


.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
    display: inline-block;
    width: 75px;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.form-button-cancel {
    box-shadow: 0 4px 15px 0 rgba(35, 20, 25, 0.25);
}

.list-actions-button-details:hover,
.list-actions-button-edit:hover,
.list-actions-button-delete:hover,
.form-button-cancel:hover {
    box-shadow: 0 4px 15px 0 rgba(70, 20, 50, 0.75);
}


.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

.list-actions-button-details {
    background-image: linear-gradient(to right, #2980b9, #3498db, #bd7ce8);
}

.list-actions-button-edit {
    background-image: linear-gradient(to right, #f39c12, #f4aa34, #f5448e);
    margin: 0rem 1rem;
}

.list-actions-button-delete,
.form-button-cancel {
    background-image: linear-gradient(to right, #c0392b, #e74c3c, #7209b7);
}

.btn-style, .btn-style-selected {
    padding: 1rem 2.4rem;
    border: 1px solid #3a0ca3;
    border-radius: 25px;
    box-shadow: 0 4px 15px 0 rgba(55, 80, 85, 0.25);
}

.btn-style {
    color: black;
}

.btn-style:focus {
    outline: none;
}

.btn-style:hover, .main-divider, .btn-style-selected:hover {
    box-shadow: 0 4px 15px 0 rgba(110, 80, 170, 0.75);
}

.btn-style-selected {
    background-image: linear-gradient(to right, #4910CE, #5A0FD3, #8D0BE4);
    border: 1px solid #4910CE;
    color: white;
}

.btn-style-selected:hover {
    background-image: linear-gradient(to right, #3a0ca3, #480ca8, #7209b7);
}

.btn-style:hover {
    background-image: linear-gradient(to right, #3a0ca3, #480ca8, #7209b7);
    color: white;
}

.btn-style,
.btn-style-selected,
.button-add,
.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.form-button-submit,
.form-button-cancel {
    background-size: 300% 100%;
}

.btn-style:hover,
.btn-style-selected:hover,
.button-add:hover,
.list-actions-button-details:hover,
.list-actions-button-edit:hover,
.list-actions-button-delete:hover,
.form-button-submit:hover,
.form-button-cancel:hover {
    background-position: 100% 0;
}

.button-add,
.form-button-submit  {
    background-image: linear-gradient(to right, #27ae60, #2ecc71, #2fbccc);
    box-shadow: 0 4px 15px 0 rgba(79, 116, 168, 0.25);
    border: 1px solid #2ecc71;
    border-radius: 5px;
}

.button-add:focus,
.form-button-submit:focus,
.form-button-cancel:focus {
    outline: none;
}

.button-add:hover,
.form-button-submit:hover {
    box-shadow: 0 4px 15px 0 rgba(79, 116, 168, 0.75);
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input {
    width: 100%;
}

textarea {
    overflow: auto;
}

.form {
    display: grid;
    grid-template-columns: 110px 340px 1fr;
    align-items: center;
    gap: 2rem;
}

.form-larger {
    grid-template-columns: 120px 330px 1fr;
}

.form select,
.form input[type="text"],
.form input[type="password"],
.form input[type="date"],
.form input[type="time"],
.form input[type="datetime-local"],
.form input[type="email"],
.form textarea {
    border: 2px solid #8c7f8d;
    color: #3d2c50;
    border-radius: 5px;
    padding: 0.5rem;
}

.form input[type="checkbox"] {
    width: 22px;
    height: 22px;
}

.form label {
    grid-column: 1;
}

.form input {
    grid-column: 2;
}

.symbol-required {
    color: #c0392b;
}

.button-add,
.form-button-submit,
.form-button-cancel {
    padding: 0.5rem 1rem;
    display: block;
    max-width: calc(450px + 2rem);
    width: fit-content(100%);
}

.button-add {
    width: inherit;
}

.form-button-submit,
.form-button-cancel {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}

.form-buttons, h4 {
    grid-column: 1 / span 2;
}

#errorSummary, .form p {
    grid-column: 1 / span 2; 
}

.hidden-error {
    text-indent: -9999px;
}

.form-button-cancel {
    box-sizing: border-box;
}

.form-button-submit {
    margin-bottom: 1rem;
}

.form input.error-input,
.form textarea.error-input,
.form select.error-input {
    border: 2px solid #e74c3c;
}

.errors-text {
    grid-column: 3;
    font-size: 1em;
    color: #e74c3c;
}

.display-small {
    display: none;
}
.display-error {
    display: none;
}

@media all and (max-width: 1400px) {
    section {
        min-width: 95%;
    }
    header {
        grid-template-columns: 1.5fr 8.5fr 0.5fr;
    }
    .container-header ul li a {
        margin: 0.7rem;
    }
    .container-header, .container-footer, main {
        min-width: 85%;
    }
}
@media all and (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    header h1{
        text-align: center;
    }
    header img{
        margin-top: 1rem;
        max-width: 250px;
        min-width: 250px;
    }
    header .container-header {
        width: 85%;
    }
    .container-header ul li a {
        margin: 0.5rem;
        white-space: nowrap;
    }
    .container-header .langs ul li a{
        margin: 0.5rem;
    }
    article {
        flex-direction: column;
    }
    article img {
        max-width: 100%;
    }
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 24px;
    }
}

@media all and (max-width: 992px) {
    .container-header {
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .container-header .btn-style {
        width: inherit;
        display:block;
    }
    .container-header .langs ul li a{
        margin: 0rem 0.5rem;
    }
    .container-header .user {
        display: flex;
        gap: 1rem;
    }
    .span-hello {
        align-self: center;
        font-size: large;
    }
    .list-actions li {
        display: block;
        margin: 0.5rem 0rem;
    }
    .list-actions {
        min-width: 150px;
    }
    .container-footer div {
        margin: 0 1rem;
    }   
    .container-footer div.info div{
        margin: 0rem 1rem;
    }
    .table-list th, .table-list td {
        padding: 0.5rem 0.5rem;
    }
}

@media all and (max-width: 768px) {
    .container-header, .container-footer, main {
        min-width: 95%;
    }
    header img{
        max-width: 215px;
        min-width: 215px;
    }
    table {
        align-self: center;
    }
    .form {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        column-gap: 0;
        margin-left: unset;
    }
    .form input, .errors-text, .form textarea, .form select {
        grid-column: 1;
    }
    .display-small {
        display: table-row;
        text-align: center; 
        vertical-align: middle;
    }
    .display-error {
        display: inline-block;
    }
    .display {
        display: none;
    } 
    .list-actions li {
        display: inline-block;
    }  
    .list-actions {
        min-width: 350px;
        display: flex;
        justify-content: space-evenly;
    }
    .button-add {
        max-width: none;
    }
}

@media all and (max-width: 576px) {
    body, nav, nav ul, header, footer {
        margin: 0;
    }
    .list-actions-button-edit {
        margin: 0rem 0.5rem;
    }
    .container-header, .container-footer, main {
        margin: 0.5rem 0rem;
        min-width: 97%;
    }
    .container-header .user {
        margin-top: 0.5rem;
    }
    .main-divider {
        margin: 0.2rem 0rem;
    }
    .table-list {
        font-size: 90%;
    }
    header img{
        max-width: 180px;
        min-width: 180px;
    }
    nav ul {
        flex-wrap: wrap;
    }
    nav ul li {
        flex-basis: 100%;
        text-align: center;
    }
    nav ul li a{
        display: block;
    }
    nav ul li a.btn-style,
    nav ul li  a.btn-style-selected {
        padding: 0.5rem 3rem;
        margin: 0.5rem;
    }
    .container-header div, .container-footer div {
        margin: 0;
    }
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 18px;
    }
}