<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>User</title>
</head>
<body>
    <header>
        <h1>GOASSIGN.ME</h1>
        <img src="/images/logo.png" alt="Goassign logo">
    </header>
    <nav>
        <ul>
            <li><a href="" class="active">Main page</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Plans</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Start now for free</a></li>
        </ul>
    </nav>
    <main>
        <h2>Check user permissions for the note</h2>
        <form action="">
            <div>
                <label for="user">User:</label>
                <span>user</span>
            </div>
            <div>
                <label for="note">Note:</label>
                <span>note</span>
            </div>
            <p>Permissions</p>
            <div>
                <label for="canWrite">Can write:</label>
                <input type="checkbox" id="canWrite" name="canWrite" value="permission" checked disabled>
            </div>
            <span id="errorWrite"></span> 
            <div>
                <label for="canDelete">Can delete:</label>
                <input type="checkbox" id="canDelete" name="canDelete" value="permission" disabled>
            </div>
            <span id="errorDelete"></span>
            <div>
                <input type="submit" value="add">
                <a href="">Decline</a>
                <p id="errorSummary"></p>
            </div>
        </form>
    </main>
    <footer>
        Author: David Wrobel - iamxdave
    </footer>
</body>
</html>