<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
</head>
<body>
    <header>
        <h1>Onboardio</h1>
        <img src="/images/logo.png" alt="Goassign logo">
    </header>
    <nav>
        <li><a href=""></a>Logo</li>
        <li><a href=""></a>Features</li>
        <li><a href=""></a>Plans</li>
        <li><a href=""></a>Login</li>
        <li><a href="">Start now for free</a></li>
    </nav>
    <main>
        <h2>Edit note</h2>
        <form action="">
            <div>
                <label for="firstname">Firstname: *</label>
                <input type="text" name="firstname" id="firstname" placeholder="this">
            </div>   
            <span id="errorFirstname">Firstname is required</span>
            <div>
                <label for="lastname">Lastname: *</label>
                <input type="text" placeholder="this firstname" id="lastname">
            </div>
            <span id="errorLastname">Lastname is required</span>
            <div>
                <label for="email">Email: *</label>
                <input type="text" placeholder="this email" id="email">
            </div>
            <span id="errorEmail">Email is required</span>
            <div>
                <input type="submit" value="add">
                <a href="">Decline</a>
                <p id="errorSummary"></p>
            </div>
        </form>
    </main>
    <footer>
        Author: David Wrobel - iamxdave
    </footer>
</body>
</html>