<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Note</title>
</head>
<body>
    <header>
        <div class="container">
            <div>              
                <a href="/views/">
                    <img src="/images/logo.gif" alt="Goassign.me logo" href="/views/" width="100%">
                </a>
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a href="/views/users/" class="btn-style">Users</a></li>
                        <li><a href="/views/usernotes/" class="btn-style">Usernotes</a></li>
                        <li><a href="/views/notes/" class="btn-style">Notes</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section>  
            <h2>Edit user permissions for the note</h2>
            <form action="" class="form">
                <div>
                    <label for="user">User: <span class="symbol-required">*</span></label>
                    <input type="text" id="user" value="this user" disabled>
                </div>
                <p id="errorUser" class="errors-text">User is not selected</p>
                <div>
                    <label for="note">Note: <span class="symbol-required">*</span></label>
                    <input type="text" id="note" value="this note" disabled>
                </div>
                <p id="errorNote" class="errors-text">Note is not selected</p>
                <h4>Permissions</h4>
                <div class="checkbox-permission">
                    <label for="canWrite">Can write:</label>
                    <input type="checkbox" id="canWrite" name="canWrite" value="permission">
                </div>
                <div class="checkbox-permission">
                    <label for="canDelete">Can delete:</label>
                    <input type="checkbox" id="canDelete" name="canDelete" value="permission">
                </div>
                <div class="form-buttons">
                    <p id="errorSummary" class="errors-text" class="errors-text">Form contains errors</p>
                    <input type="submit" value="Confirm" class="form-button-submit">
                    <a href="/views/usernotes/" class="form-button-cancel">Decline</a>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="info">
                <span>©goassign.me 2022</span>
                <a>Terms & Privacy</a>
            </div>
            <div class="info">
                <span>David Wróbel - iamxdave</span>
                <div>
                    <a href="https://www.github.com/iamxdave">
                        <img src="/images/icons/github.svg" alt="Github link">
                    </a>
                    <a href="https://www.linkedin.com/in/iamxdave">
                        <img src="/images/icons/linkedin.svg" alt="Linkedin link">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>