<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,800;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Note</title>
</head>
<body>
    <header>
        <h1>GOASSIGN.ME</h1>
        <img src="/images/logo.png" alt="Goassign logo">
    </header>
    <nav>
        <ul>
            <li><a href="/views/" class="active">Main page</a></li>
            <li><a href="/views/users/">Users</a></li>
            <li><a href="/views/usernotes/">Usernotes</a></li>
            <li><a href="/views/notes/">Notes</a></li>
        </ul>
    </nav>
    <main>
        <h2>Edit user permissions for the note</h2>
        <form action="" class="form">
            <div>
                <label for="user">User: <span class="symbol-required">*</span></label>
                <input type="text" id="user" value="this user" disabled>
            </div>
            <p id="errorUser"></p>
            <div>
                <label for="note">Note: <span class="symbol-required">*</span></label>
                <input type="text" id="note" value="this note" disabled>
            </div>
            <p id="errorNote"></p>
            <h4>Permissions</h4>
            <div class="checkbox-permission">
                <label for="canWrite">Can write:</label>
                <input type="checkbox" id="canWrite" name="canWrite" value="permission">
            </div>
            <span id="errorWrite"></span> 
            <div class="checkbox-permission">
                <label for="canDelete">Can delete:</label>
                <input type="checkbox" id="canDelete" name="canDelete" value="permission">
            </div>
            <span id="errorDelete"></span>
            <div class="form-buttons">
                <p id="errorSummary" class="errors-text"></p>
                <input type="submit" value="Confirm" class="form-button-submit">
                <a href="/views/usernotes/" class="form-button-cancel">Decline</a>
            </div>
        </form>
    </main>
    <footer>
        Author: David Wrobel - iamxdave
    </footer>
</body>
</html>