<%- include('../../partials/header') %>
    <main>
        <div class="main-divider">
            <section>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Successfully edited usernote
                </div> 
                <h2>Edit user permissions</h2>
                <form class="form" novalidate onsubmit="return validateForm();">
                    <label for="user">User: <span class="symbol-required">*</span></label>
                    <select name="user" id="user">
                        <option value="default">-- Select a user</option>
                        <option value="1" selected>user1</option>
                        <option value="2">user2</option>
                        <option value="3">user3</option>
                    </select>
                    <span id="errorUser" class="errors-text"></span>
                    

                    <label for="note">Note: <span class="symbol-required">*</span></label>
                    <select name="note" id="note">
                        <option value="default">-- Select a note</option>
                        <option value="1">note1</option>
                        <option value="2" selected>note2</option>
                        <option value="3">note3</option>
                    </select>
                    <span id="errorNote" class="errors-text"></span>
                    
                    <h4>Permissions</h4>
                    
                    <label for="write">Write:</label>
                    <input type="checkbox" id="write" name="write" value="permission" checked>

                    <label for="delete">Delete:</label>
                    <input type="checkbox" id="delete" name="delete" value="permission">
                    
                    <p id="errorSummary" class="errors-text hidden-error">Form contains errors</p>

                    <div class="form-buttons">
                        <input type="submit" value="Confirm" class="form-button-submit">
                        <a href="/usernotes" class="form-button-cancel">Decline</a>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <script type="application/javascript" src="/js/validationFormUsernotes.js"></script>
<%- include('../../partials/footer') %>
