<%- include('../../partials/header') %>
    <main>
        <div class="main-divider">
            <section>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Successfully deleted usernote
                </div> 
                <h2>Usernotes</h2>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th rowspan="2">User</th>
                            <th rowspan="2">Note title</th>
                            <th colspan="2">Permissions</th>
                            <th rowspan="2" class="display">Actions</th>
                        </tr>
                        <tr>
                            <th>Write</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>davidthesuperior</td>
                            <td><div class="note-title">this is title of my note and its super fun to work with and it's not even the longest title possible!</div></td>
                            <td class="table-checkbox">
                                <input type="checkbox" id="write" name="canWrite" value="permission" checked disabled>
                            </td>
                            <td class="table-checkbox">
                                <input type="checkbox" id="delete" name="canDelete" value="permission" disabled>
                            </td>
                            <td class="display">
                                <ul class="list-actions">
                                    <li><a href="usernotes/details" class="list-actions-button-details">Details</a></li>
                                    <li><a href="usernotes/edit" class="list-actions-button-edit">Edit</a></li>
                                    <li><a href="" class="list-actions-button-delete">Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr class="display-small">
                            <td colspan="4">
                                <ul class="list-actions">
                                    <li><a href="usernotes/details" class="list-actions-button-details">Details</a></li>
                                    <li><a href="usernotes/edit" class="list-actions-button-edit">Edit</a></li>
                                    <li><a href="" class="list-actions-button-delete">Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-buttons">
                    <a href="usernotes/add" class="button-add">Add user to the note</a>
                </div>
            </section>
        </div>
    </main>
<%- include('../../partials/footer') %>
