<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,800;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Note</title>
</head>
<body>
    <header>
        <h1>GOASSIGN.ME</h1>
        <img src="/images/logo.png" alt="Goassign logo">
    </header>
    <nav>
        <ul>
            <li><a href="/views/" class="active">Main page</a></li>
            <li><a href="/views/users/">Users</a></li>
            <li><a href="/views/usernotes/">Usernotes</a></li>
            <li><a href="/views/notes/">Notes</a></li>
        </ul>
    </nav>
    <main>
        <h2>Add a new note</h2>
        <form action="" class="form">
            <div>
                <label for="title">Title: <span class="symbol-required">*</span></label>
                <input type="text" name="title" id="title">
                <span id="errorTitle"></span>
            </div>
            <div>
                <label for="dueTo">Date of implementation:</label>
                <input type="datetime-local" name="date" id="date">
                <span id="errorDate"></span>
            </div>
            <div>
                <label for="description">Description: <span class="symbol-required">*</span></label>
                <div>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                    <span id="errorDescription"></span>
                </div>
            </div>
            <div class="form-buttons">
                <p id="errorSummary" class="errors-text"></p>
                <input type="submit" value="Add" class="form-button-submit">
                <a href="/views/notes/" class="form-button-cancel">Decline</a>
            </div>
        </form>
    </main>
    <footer>
        Author: David Wrobel - iamxdave
    </footer>
</body>
</html>