<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Note</title>
</head>
<body>
    <header>
        <div class="container">
            <div>              
                <a href="/views/">
                    <img src="/images/logo.gif" alt="Goassign.me logo" href="/views/" width="100%">
                </a>
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a href="/views/users/" class="btn-style">Users</a></li>
                        <li><a href="/views/usernotes/" class="btn-style">Usernotes</a></li>
                        <li><a href="/views/notes/" class="btn-style">Notes</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section>
            <h2>xxx</h2>
            <form action="" class="form">
                <div>
                    <label for="title">Title: <span class="symbol-required">*</span></label>
                    <input type="text" name="title" id="title" value="this" disabled>
                </div>
                <div>
                    <label for="dueTo">Date of implementation:</label>
                    <input type="datetime-local" name="date" id="date" value="2018-06-12T19:30" disabled>
                    <span id="errorDate"></span>
                </div>
                <div>
                    <label for="description">Description: <span class="symbol-required">*</span></label>
                    <div>
                        <textarea name="description" id="description" cols="30" rows="10" disabled>lorem lorem lorem lorem</textarea>
                        <span id="errorDescription"></span>
                    </div>
                </div>
                <div class="form-buttons">
                    <p id="errorSummary" class="errors-text"></p>
                    <input type="submit" value="Edit" class="form-button-submit">
                </div>
            </form>
        </section>
    </main>
    <main>
        <section>
            <h2>User permissions for the note</h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th rowspan="2">User</th>
                        <th rowspan="2">Email</th>
                        <th colspan="2">Permissions</th>
                    </tr>
                    <tr>
                        <th>Write</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>me</td>
                        <td>xxx@gmail.com</td>
                        <td class="table-checkbox">
                            <input type="checkbox" id="canWrite" name="canWrite" value="permission" checked disabled z>
                        </td>
                        <td class="table-checkbox">
                            <input type="checkbox" id="canDelete" name="canDelete" value="permission" disabled>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="form form-buttons">
                <a href="/views/notes/" class="form-button-cancel">Decline</a>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="info">
                <span>©goassign.me 2022</span>
                <a>Terms & Privacy</a>
            </div>
            <div class="info">
                <span>David Wróbel - iamxdave</span>
                <div>
                    <a href="https://www.github.com/iamxdave">
                        <img src="/images/icons/github.svg" alt="Github link">
                    </a>
                    <a href="https://www.linkedin.com/in/iamxdave">
                        <img src="/images/icons/linkedin.svg" alt="Linkedin link">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>