<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script type="application/javascript" src="/js/validationForm.js"></script>
    <title>Note</title>
</head>
<body>
    <header>
        <div class="container">
            <div>              
                <a href="/views/">
                    <img src="/images/logo.gif" alt="Goassign.me logo" >
                </a>
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a href="/views/users/" class="btn-style">Users</a></li>
                        <li><a href="/views/usernotes/" class="btn-style">Usernotes</a></li>
                        <li><a href="/views/notes/" class="btn-style-selected">Notes</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="main-divider">
            <section>
                <h2>xxx</h2>
                <form class="form form-larger">
                    
                    <label for="title">Title: <span class="symbol-required">*</span></label>
                    <input type="text" name="title" id="title" value="this" disabled>
                
                    <label for="creation">Creation:</label>
                    <input type="date" name="creation" id="creation" value="2018-06-10" disabled>

                    <label for="implementation">Implementation:</label>
                    <input type="date" name="implementation" id="implementation" value="2018-06-12" disabled>
                
                    <label for="description">Description: <span class="symbol-required">*</span></label>
                    <textarea name="description" id="description" cols="30" rows="10" disabled>lorem lorem lorem lorem</textarea>
                    <span id="errorDescription"></span>

                    <p id="errorSummary" class="errors-text hidden-error">Form contains errors</p>

                    <div class="form-buttons">
                        <a href="/views/notes/edit.html" class="form-button-submit">Edit</a>
                    </div>
                </form>
            </section>
        </div>
        <div class="main-divider">
            <section>
                <h2>User permissions for the note</h2>
                <table class="table-list table-permission">
                    <thead>
                        <tr>
                            <th rowspan="2">User</th>
                            <th rowspan="2" class="display">Email</th>
                            <th colspan="2">Permissions</th>
                        </tr>
                        <tr>
                            <th>Write</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>davidthesuperior</td>
                            <td class="display">david.sparrow2001@gmail.com</td>
                            <td class="table-checkbox">
                                <input type="checkbox" id="rite" name="write" value="permission" checked disabled>
                            </td>
                            <td class="table-checkbox">
                                <input type="checkbox" id="delete" name="delete" value="permission" disabled>
                            </td>
                        </tr>
                        <tr class="display-small">
                            <td colspan="3">david.sparrow2001@gmail.com</td>
                        </tr>
                    </tbody>
                </table>       
                <div class="form-buttons">
                    <a href="/views/notes/" class="form-button-cancel">Back</a>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="info">
                <span>©goassign.me 2022</span>
                <a>Terms & Privacy</a>
            </div>
            <div class="info">
                <span>David Wróbel - iamxdave</span>
                <div>
                    <a href="https://www.github.com/iamxdave">
                        <img src="/images/icons/github.svg" alt="Github link">
                    </a>
                    <a href="https://www.linkedin.com/in/iamxdave">
                        <img src="/images/icons/linkedin.svg" alt="Linkedin link">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>