<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Note</title>
</head>
<body>
    <header>
        <h1>GOASSIGN.ME</h1>
        <img src="/images/logo.png" alt="Goassign logo">
    </header>
    <nav>
        <ul>
            <li><a href="" class="active">Main page</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Plans</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Start now for free</a></li>
        </ul>
    </nav>
    <main>
        <h2>Edit note</h2>
        <form action="" class="form">
            <div>
                <label for="title">Title: *</label>
                <input type="text" name="title" id="title" placeholder="this">
            </div>
            <div>
                <label for="dueTo">Date of implementation:</label>
                <input type="text" placeholder="10/10/2022" id="date" onfocus="(this.type='date')">
                <span id="errorDate"></span>
                <input type="time" name="time" id="time" value="00:00">
                <span id="errorTime"></span>
            </div>
            <div>
                <label for="description">Description: *</label>
                <div>
                    <textarea name="description" id="description" cols="30" rows="10" placeholder="lorem lorem lorem lorem"></textarea>
                    <span id="errorDescription"></span>
                </div>
            </div>
            <div>
                <input type="submit" value="add">
                <a href="">Decline</a>
                <p id="errorSummary"></p>
            </div>
        </form>
    </main>
    <footer>
        Author: David Wrobel - iamxdave
    </footer>
</body>
</html>