<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,800;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Note</title>
</head>
<body>
    <header>
        <h1>GOASSIGN.ME</h1>
        <img src="/images/logo.png" alt="Goassign logo">
    </header>
    <nav>
        <ul>
            <li><a href="/views/" class="active">Main page</a></li>
            <li><a href="/views/users/">Users</a></li>
            <li><a href="/views/usernotes/">Usernotes</a></li>
            <li><a href="/views/notes/">Notes</a></li>
        </ul>
    </nav>
    <main>
        <h2>Add user</h2>
        <form action="" class="form">
            <div>
                <label for="firstname">Username: <span class="symbol-required">*</span></label>
                <input type="text" name="username" id="username" class="error-input">
            </div>
            <span id="errorUsername" class="errors-text">Username is required</span>  
            <div>
                <label for="email">Email: <span class="symbol-required">*</span></label>
                <input type="text" name="email" id="email" class="error-input">
            </div>
            <span id="errorEmail" class="errors-text">Email is required</span>  
            <div>
                <label for="email">Password: <span class="symbol-required">*</span></label>
                <input type="password" name="email" id="password" class="error-input">
            </div>
            <span id="errorPassword" class="errors-text">Password is required</span> 
            <div>
                <label for="firstname">Firstname: <span class="symbol-required">*</span></label>
                <input type="text" name="firstname" id="firstname" class="error-input">
            </div>
            <span id="errorFirstname" class="errors-text">Firstname is required</span>
            <div>
                <label for="lastname">Lastname: <span class="symbol-required">*</span></label>
                <input type="text" name="lastname" id="lastname" class="error-input">
            </div> 
            <span id="errorLastname" class="errors-text">Lastname is required</span>  
            <div class="form-buttons">
                <p id="errorSummary" class="errors-text">Form contains errors</p>
                <input type="submit" value="Add" class="form-button-submit">
                <a href="/views/users/" class="form-button-cancel">Decline</a>
            </div>
        </form>
    </main>
    <footer>
        Author: David Wrobel - iamxdave
    </footer>
</body>
</html>