<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>User</title>
</head>
<body>
    <header>
        <div class="container">
            <div>              
                <a href="/views/">
                    <img src="/images/logo.gif" alt="Goassign.me logo" href="/views/" width="100%">
                </a>
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a href="/views/users/" class="btn-style">Users</a></li>
                        <li><a href="/views/usernotes/" class="btn-style">Usernotes</a></li>
                        <li><a href="/views/notes/" class="btn-style">Notes</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section>
            <h2>Details of xxx user</h2>
            <form action="" class="form">
                <div>
                    <label for="firstname">Username:</label>
                    <input type="text" name="username" id="username" value="this" disabled>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="text" value="this email" id="email" disabled>
                </div>
                <div>
                    <label for="email">Password:</label>
                    <input type="password" placeholder="********" id="password" disabled>
                </div>
                <div>
                    <label for="firstname">Firstname:</label>
                    <input type="text" name="firstname" id="firstname" value="this firstname" disabled>
                </div>
                <div>
                    <label for="lastname">Lastname:</label>
                    <input type="text" id="lastname" value="this lastname" disabled>
                </div> 
                <div>
                    <p id="errorSummary" class="errors-text"></p>
                    <input type="submit" value="Edit" class="form-button-submit">
                    <a href="/views/users/" class="form-button-cancel">Decline</a>
                </div>
            </form>
        </section>
    </main>
    <main>
        <section>
            <h2>Usernotes</h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th rowspan="2">Note title</th>
                        <th rowspan="2">Date of creation</th>
                        <th rowspan="2">Deadline of implementation</th>
                        <th colspan="2">Permissions</th>
                    </tr>
                    <tr>
                        <th>Write</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>this is title</td>
                        <td class="table-date">
                            <input type="datetime-local" name="date" id="date" disabled>
                        </td>
                        <td class="table-date">
                            <input type="datetime-local" name="date" id="date" disabled>
                        </td>
                        <td class="table-checkbox">
                            <input type="checkbox" id="canWrite" name="canWrite" value="permission" checked disabled z>
                        </td>
                        <td class="table-checkbox">
                            <input type="checkbox" id="canDelete" name="canDelete" value="permission" disabled>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="info">
                <span>©goassign.me 2022</span>
                <a>Terms & Privacy</a>
            </div>
            <div class="info">
                <span>David Wróbel - iamxdave</span>
                <div>
                    <a href="https://www.github.com/iamxdave">
                        <img src="/images/icons/github.svg" alt="Github link">
                    </a>
                    <a href="https://www.linkedin.com/in/iamxdave">
                        <img src="/images/icons/linkedin.svg" alt="Linkedin link">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>