<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Note</title>
</head>
<body>
    <header>
        <div class="container">
            <div>              
                <a href="/views/">
                    <img src="/images/logo.gif" alt="Goassign.me logo" >
                </a>
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a href="/views/users/" class="btn-style">Users</a></li>
                        <li><a href="/views/usernotes/" class="btn-style">Usernotes</a></li>
                        <li><a href="/views/notes/" class="btn-style">Notes</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="main-divider">
            <section>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Successfully edited user
                </div> 
                <h2>Edit user</h2>
                <form class="form">

                    <label for="username">Username: <span class="symbol-required">*</span></label>
                    <input type="text" name="username" id="username" value="this">
                    <span id="errorUsername" class="errors-text">Username is required</span>  

                    <label for="email">Email: <span class="symbol-required">*</span></label>
                    <input type="text" value="this email" id="email">
                    <span id="errorEmail" class="errors-text">Email is required</span>  

                    <label for="password">Password: <span class="symbol-required">*</span></label>
                    <input type="password" value="********" id="password">
                    <span id="errorPassword" class="errors-text">Password is required</span> 

                    <label for="firstname">Firstname: <span class="symbol-required">*</span></label>
                    <input type="text" name="firstname" id="firstname" value="this firstname">
                    <span id="errorFirstname" class="errors-text">Firstname is required</span>

                    <label for="lastname">Lastname: <span class="symbol-required">*</span></label>
                    <input type="text" id="lastname" value="this lastname">
                    <span id="errorLastname" class="errors-text">Lastname is required</span>  
                    
                    <p id="errorSummary" class="errors-text">Form contains errors</p>
                    
                    <div class="form-buttons">
                        <input type="submit" value="Confirm" class="form-button-submit">
                        <a href="/views/users/" class="form-button-cancel">Decline</a>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="info">
                <span>©goassign.me 2022</span>
                <a>Terms & Privacy</a>
            </div>
            <div class="info">
                <span>David Wróbel - iamxdave</span>
                <div>
                    <a href="https://www.github.com/iamxdave">
                        <img src="/images/icons/github.svg" alt="Github link">
                    </a>
                    <a href="https://www.linkedin.com/in/iamxdave">
                        <img src="/images/icons/linkedin.svg" alt="Linkedin link">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>