<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Users</title>
</head>
<body>
    <header>
        <h1>GOASSIGN.ME</h1>
        <img src="/images/logo.png" alt="Goassign logo">
    </header>
    <nav>
        <ul>
            <li><a href="" class="active">Main page</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Plans</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Start now for free</a></li>
        </ul>
    </nav>
    <main>
        <h2>Users</h2>
        <p>Oh no! There are no users to be selected!</p>
        <p><a href="" class="button-add">Add a new user</a></p>
    </main>
    <footer>
        Author: David Wrobel - iamxdave
    </footer>
</body>
</html>